nav>ul>li{
    display: inline;
    margin-right: 15px;
}
nav li>a{
    text-decoration: none;
}
footer{
    text-align: center;
    margin-top: 30px;
}
.sky{
    text-align: center;
    font-size: 50px;

}
.place{
    text-align: center;
    font-size: 30px;
}